/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #00cbfd;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #00cbfd;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 2px solid #00cbfd;
  background: #000000;
  color: white;
}

button:hover {
  box-shadow: 0vw 0vw 2vw rgb(79, 214, 255);
}

body {
  background: rgb(37, 37, 37);
  color: white;
}

hr {
  border: 1.5px solid rgb(255, 255, 255);
}

.imgstyle {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(255, 255, 255)),
    color-stop(0.67, rgb(0, 255, 255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255, 255, 255) 33%,
    rgb(0, 255, 255) 67%
  );
  box-shadow: 0vw 0vw 2vw rgb(79, 214, 255);
  border-radius: 1vw;
  padding: 4px;
}

.imgstyle2 {
  height: 25%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(255, 255, 255)),
    color-stop(0.67, rgb(0, 255, 255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255, 255, 255) 33%,
    rgb(0, 255, 255) 67%
  );
  box-shadow: 0vw 0vw 2vw rgb(79, 214, 255);
  border-radius: 1vw;
  padding: 4px;
}

.imgstyle3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(255, 255, 255)),
    color-stop(0.67, rgb(0, 255, 255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255, 255, 255) 33%,
    rgb(0, 255, 255) 67%
  );
  box-shadow: 0vw 0vw 2vw rgb(79, 214, 255);
  border-radius: 1vw;
}

.imgstyle4 {
  height: 25%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.33, rgb(255, 255, 255)),
    color-stop(0.67, rgb(0, 255, 255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255, 255, 255) 33%,
    rgb(0, 255, 255) 67%
  );
  box-shadow: 0vw 0vw 2vw rgb(79, 214, 255);
  border-radius: 1vw;
  padding: 4px;
}

h1 {
  font-size: 100px;
  font-family: "Intro", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  /* Warning: no fallback */

  background: -webkit-linear-gradient(
    -86deg,
    #ffffff 5%,
    #00cbfd 53%,
    #ffffff 91%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
}

.ermimactuallyanh2 {
  font-size: 75px;
}
